<div ng-controller="dataoverviewController">

  <ion-view view-title="{{datatype}}">

    <ion-content class="dataoverviewpage dataoverviewflexparent">

      <div class="dataseriesflexparent dataoverviewflexchild">


        <div class="dataseriesflexchild">

          <div class="row">
            <span class="col" style="text-align: center"><strong>Fra:</strong></span>
            <span class="col" style="text-align: center"><strong>Til:</strong></span>
          </div>

          <div class="row">

            <div class="col">
              <div class="row responsive-sm">
                <ionic-datepicker input-obj="startDatepickerObject" class="col">
                  <button class="button button-block button-stable">
                    <strong>{{startDatepickerObject.inputDate | date:'dd/MM, yyyy'}}</strong>
                  </button>
                </ionic-datepicker>
                <ionic-timepicker input-obj="startTimePickerObject" class="col">
                  <button class="button button-block button-stable overflowShow">
                    <strong>{{startTimePickerObject.displayValue()}}</strong>
                  </button>
                </ionic-timepicker>
              </div>
            </div>


            <div class="col">
              <div class="row responsive-sm">
                <ionic-datepicker input-obj="endDatepickerObject" class="col">
                  <button class="button button-block button-stable">
                    <strong>{{endDatepickerObject.inputDate | date:'dd/MM, yyyy'}}</strong>
                  </button>
                </ionic-datepicker>
                <ionic-timepicker input-obj="endTimePickerObject" class="col">
                  <button class="button button-block button-stable overflowShow">
                    <strong>{{endTimePickerObject.displayValue()}}</strong>
                  </button>
                </ionic-timepicker>
              </div>
            </div>

          </div>
        </div>


      </div>

      <div id="dataoverviewpagechart" ng-if="displaytype=='chart'"
           style="min-height: 50%; margin-left:2%; margin-right:2%; width: 96%">
        <nvd3 options="options"
              data="dataseries"
              config="config"
              events="events"
              api="api"></nvd3>
      </div>

      <div id="dataoverviewpagetable" class="dataoverviewflexchild" ng-if="displaytype=='table'"
           style="min-height: 50%; margin-left:2%; margin-right:2%; width: 96%"
           ng-controller="dataoverviewController">
        <div ng-repeat="dataserie in datatable">
          <!--<div>{{dataserie.key}}:{{visibility[$index]}}</div>-->
          <div ng-show="$index==0" class="row">
            <div class="col"><strong></strong></div>
            <div class="col" ng-repeat="(date, value) in dataserie.values"><strong>{{date}}</strong></div>
          </div>
          <!--<div ng-if="visibility[$index]">-->
          <div class="row">
            <div class="col">{{dataserie.key}}</div>
            <div class="col" ng-repeat="(date, value) in dataserie.values">{{value}}</div>
          </div>
          <!--</div>-->
        </div>
      </div>

      <div id="dataoverviewpagechart" ng-if="displaytype=='chart'">

        <div class="dataseriesflexparent dataoverviewflexchild">
      <span ng-repeat="dataserie in storeddata">
        <!--<div>{{dataserie.label}}:{{visibility[dataserie.label]}}</div>-->

        <div class="dataseriesflexchild">

          <!--<input type="checkbox" ng-model="visibility[dataserie.label]">-->
          <span ng-if="visibility[$index]">
            <button ng-click="toggleShowDataSerie($index)" class="button button-stable"
                    ng-style="{'background-color': '{{options.chart.allcolors[$index]}}'};">
              {{dataserie.label}}
            </button>
          </span>
          <span ng-if="!visibility[$index]">
            <button ng-click="toggleShowDataSerie($index)" class="button button-stable">
              {{dataserie.label}}
            </button>
          </span>

        </div>
      </span>
        </div>

      </div>


    </ion-content>

    <ion-footer-bar>
      <div class="button-bar">
        <button ng-class="chartbuttonclass" class="button" ng-click="changeDisplayType('chart')">Graf</button>
        <button ng-class="tablebuttonclass" class="button" ng-click="changeDisplayType('table')">Tabel</button>
      </div>
    </ion-footer-bar>

  </ion-view>
</div>
