<ion-view view-title="Front page">
  <ion-content class="frontpagecontainer">
    <div class="row responsive-sm">
      <div class="col">
        <div class="card frontpagecomponent">
          <div class="item item-text-wrap">
            <div ng-controller="calendarController" class="wrapp">
              <flex-calendar options="options" events="events"></flex-calendar>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card frontpagecomponent">
          <div class="item item-text-wrap">
            Notes <br>
            line 2
          </div>
        </div>
      </div>
    </div>
    <div class="row responsive-sm ">
      <div class="col">
        <div class="card frontpagecomponent">
          <div class="item item-divider bar bar-balanced">
            <strong>Medicin</strong>
            <a style="float: right" class="button button-icon ion-compose" href="#/questionwizardpage"></a>
            <span style="padding-left: 50px; float: right;"></span>
            <a style="float: right" class="button button-icon ion-stats-bars" href="#/dataoverviewpage"></a>
          </div>
          <div class="item item-text-wrap">
            This is a basic Card with some text.
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card frontpagecomponent">
          <div class="item item-divider bar bar-calm">
            <strong>Smerte</strong>
            <a style="float: right" class="button button-icon ion-compose" href="#/questionwizardpage"></a>
            <span style="padding-left: 50px; float: right;"></span>
            <a style="float: right" class="button button-icon ion-stats-bars" href="#/dataoverviewpage"></a>
          </div>
          <div class="item item-text-wrap">
            This is a basic Card with some text.
          </div>
        </div>
      </div>
    </div>
    <div class="row responsive-sm ">
      <div class="col">
        <div class="card frontpagecomponent">
          <div class="item item-divider bar bar-assertive">
            <strong>Blodprøver</strong>
            <a style="float: right" class="button button-icon ion-compose" href="#/questionwizardpage"></a>
            <span style="padding-left: 50px; float: right;"></span>
            <a style="float: right" class="button button-icon ion-stats-bars" href="#/dataoverviewpage"></a>
          </div>
          <div class="item item-text-wrap">
            This is a basic Card with some text.
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card frontpagecomponent">
          <div class="item item-divider bar bar-energized">
            <strong>Mucositis</strong>
            <a style="float: right" class="button button-icon ion-compose" href="#/questionwizardpage"></a>
            <span style="padding-left: 50px; float: right;"></span>
            <a style="float: right" class="button button-icon ion-stats-bars" href="#/dataoverviewpage"></a>
          </div>
          <div class="item item-text-wrap">
            This is a basic Card with some text.
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
