<ion-view view-title="Leukæmi App" ng-controller="frontpageController">
  <ion-content class="frontpagecontainer">
    <div class="row responsive-sm" ng-controller="calendarController">
      <div class="col">
        <div class="card frontpagecomponent">
          <div class="item item-text-wrap">
            <div class="wrapp">
              <flex-calendar options="options" events="events"></flex-calendar>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card frontpagecomponent">
          <div class="item item-text-wrap">
            <div class="calendar-date">
              {{ calendarFactory.selectedDate.getDate() }} <br>
            </div>
            <div class="calendar-day">
              {{ calendarFactory.getSelectedDayOfTheWeek() }} <br>
            </div>
            <div class="calendar-month">
              {{ calendarFactory.getSelectedMonth() }} <br>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row responsive-sm ">
      <div class="col">
        <div class="card frontpagecomponent">
          <div class="item item-divider bar bar-balanced">
            <strong>Medicin</strong>
            <a style="float: right" class="button button-icon ion-compose" href="#/questionwizardpage"></a>
            <span style="padding-left: 50px; float: right;"></span>
            <a style="float: right" class="button button-icon ion-stats-bars" href="#/dataoverviewpage"></a>
          </div>
          <div class="item item-text-wrap">
            This is a basic Card with some text.
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card frontpagecomponent">
          <div class="item item-divider bar bar-calm">
            <strong>Smerte</strong>
            <button style="float: right" class="button button-icon ion-compose"  ng-click="openQuestionWizardPage('Smerte')"></button>
            <span style="padding-left: 50px; float: right;"></span>
            <a style="float: right" class="button button-icon ion-stats-bars" href="#/dataoverviewpage"></a>
          </div>
          <div class="item item-text-wrap">
            This is a basic Card with some text.
          </div>
        </div>
      </div>
    </div>
    <div class="row responsive-sm ">
      <div class="col">
        <div class="card frontpagecomponent">
          <div class="item item-divider bar bar-assertive">
            <strong>Blodprøver</strong>
            <button style="float: right" class="button button-icon ion-compose"  ng-click="openQuestionWizardPage('Blodprøve')"></button>
            <span style="padding-left: 50px; float: right;"></span>
            <a style="float: right" class="button button-icon ion-stats-bars" href="#/dataoverviewpage"></a>
          </div>
          <div class="item item-text-wrap">
            This is a basic Card with some text.
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card frontpagecomponent">
          <div class="item item-divider bar bar-energized">
            <strong>Mucositis</strong>
            <button style="float: right" class="button button-icon ion-compose"  ng-click="openQuestionWizardPage('Mucositis')"></button>
            <span style="padding-left: 50px; float: right;"></span>
            <a style="float: right" class="button button-icon ion-stats-bars" href="#/dataoverviewpage"></a>
          </div>
          <div class="item item-text-wrap">
            This is a basic Card with some text.
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
