
<div style="width: 100%" class="centervertically" ng-controller="blodsampleController">

  <div class="list">
    <label class="item item-input">
      <span class="input-label">Leukocytter</span>
      <input type="number" style="direction: rtl;" placeholder="0.0 - 100.0" ng-model="questionState.Leukocytter">
      <span class="input-label">10<sup>9</sup> L</span>
    </label>

    <label class="item item-input">
      <span class="input-label">Neutrofile</span>
      <input type="number" style="direction: rtl;" placeholder="0.0 - 20.0" ng-model="questionState.Neutrofile">
      <span class="input-label">10<sup>9</sup> L</span>
    </label>

    <label class="item item-input">
      <span class="input-label">Thombocyt</span>
      <input type="number" style="direction: rtl;" placeholder="0.0 - 100.0" ng-model="questionState.Thombocytter">
      <span class="input-label">10<sup>9</sup> L</span>
    </label>

    <label class="item item-input">
      <span class="input-label">Hæmoglobin</span>
      <input type="number" style="direction: rtl;" placeholder="2.0 - 10.0" ng-model="questionState.Hemoglobin">
      <span class="input-label">10<sup>9</sup> L</span>
    </label>

    <label class="item item-input">
      <span class="input-label">Alat</span>
      <input type="number" style="direction: rtl;" placeholder="99 - 9999" ng-model="questionState.Alat">
      <span class="input-label">U/L</sup> L</span>
    </label>

    <label class="item item-input">
      <span class="input-label">CRP</span>
      <input type="number" style="direction: rtl;" placeholder="1 - 999" ng-model="questionState.CRP">
      <span class="input-label">mg/L</span>
    </label>
  </div>

</div>
