
<div style="width: 100%" class="centervertically" ng-controller="blodsampleController">

  <div class="list">
    <label class="item item-input">
      <span class="input-label">Leukocytter</span>
      <input type="number" style="direction: rtl;" placeholder="....." ng-model="Blodsamples.Leukocytter">
      <span class="input-label">10<sup>9</sup> L</span>
    </label>

    <label class="item item-input">
      <span class="input-label">Neutrofile</span>
      <input type="number" style="direction: rtl;" placeholder="....." ng-model="Blodsamples.Neutrofile">
      <span class="input-label">10<sup>9</sup> L</span>
    </label>

    <label class="item item-input">
      <span class="input-label">Thombocyt</span>
      <input type="number" style="direction: rtl;" placeholder="....." ng-model="Blodsamples.Thombocytter">
      <span class="input-label">10<sup>9</sup> L</span>
    </label>

    <label class="item item-input">
      <span class="input-label">Hæmoglobin</span>
      <input type="number" style="direction: rtl;" placeholder="....." ng-model="Blodsamples.Hemoglobin">
      <span class="input-label">10<sup>9</sup> L</span>
    </label>

    <label class="item item-input">
      <span class="input-label">Alat</span>
      <input type="number" style="direction: rtl;" placeholder="....." ng-model="Blodsamples.Alat">
      <span class="input-label">U/L</sup> L</span>
    </label>

    <label class="item item-input">
      <span class="input-label">CRP</span>
      <input type="number" style="direction: rtl;" placeholder="....." ng-model="Blodsamples.CRP">
      <span class="input-label">mg/L</span>
    </label>
  </div>

</div>
