
<div style="width: 100%" class="centervertically" ng-controller="bloodsampleController">

  <div class="list">
    <label class="item item-input">
      <span class="input-label">Leukocytter</span>
      <input type="number" style="direction: rtl;" placeholder="100.0 - 0.0" onfocus="this.placeholder = ''" onblur="this.placeholder = '100.0 - 0.0'" ng-model="questionState.Leukocytter">
      <span class="input-label">10<sup>9</sup> L</span>
    </label>

    <label class="item item-input">
      <span class="input-label">Neutrofile</span>
      <input type="number" style="direction: rtl;" placeholder="20.0 - 0.0" onfocus="this.placeholder = ''" onblur="this.placeholder = '20.0 - 0.0'" ng-model="questionState.Neutrofile">
      <span class="input-label">10<sup>9</sup> L</span>
    </label>

    <label class="item item-input">
      <span class="input-label">Thombocyt</span>
      <input type="number" style="direction: rtl;" placeholder="100.0 - 0.0" onfocus="this.placeholder = ''" onblur="this.placeholder = '100.0 - 0.0'" ng-model="questionState.Thombocytter">
      <span class="input-label">10<sup>9</sup> L</span>
    </label>

    <label class="item item-input">
      <span class="input-label">Hæmoglobin</span>
      <input type="number" style="direction: rtl;" placeholder="10.0 - 2.0" onfocus="this.placeholder = ''" onblur="this.placeholder = '10.0 - 2.0'" ng-model="questionState.Hemoglobin">
      <span class="input-label">10<sup>9</sup> L</span>
    </label>

    <label class="item item-input">
      <span class="input-label">Alat</span>
      <input type="number" style="direction: rtl;" placeholder="9999 - 99" onfocus="this.placeholder = ''" onblur="this.placeholder = '9999 - 99'" ng-model="questionState.Alat">
      <span class="input-label">U/L</sup> L</span>
    </label>

    <label class="item item-input">
      <span class="input-label">CRP</span>
      <input type="number" style="direction: rtl;" placeholder="999 - 1" onfocus="this.placeholder = ''" onblur="this.placeholder = '999 - 1'" ng-model="questionState.CRP">
      <span class="input-label">mg/L</span>
    </label>
  </div>

</div>
