<div style="width: 100%" class="centervertically" ng-controller="medicineController">

  <!--<div class="dataseriesflexparent dataoverviewflexchild" style="margin-top: 3%">
    <div class="dataseriesflexchild">
      <label class="item item-input">
        <span class="input-label">Fra</span>
        <input type="date" ng-model="questionState.From">
      </label>
    </div>
    <div class="dataseriesflexchild">
      <label class="item item-input">
        <span class="input-label">Til</span>
        <input type="date" ng-model="questionState.To">
      </label>
    </div>
  </div>-->
<form name="medicineform">
  <div class="list">
    <label class="item item-input">
      <span class="input-label">Tablet 6 MP</span>
      <input type="number" name="sixmp" style="direction: rtl;" placeholder="....." ng-model="questionState.SixMP" required>
      <span class="input-label">mg/dag</span>
    </label>

    <label class="item item-input">
      <span class="input-label">Tablet MTX</span>
      <input type="number" name="mtx" style="direction: rtl;" placeholder="....." ng-model="questionState.MTX" required>
      <span class="input-label">mg/uge</span>
    </label>
  </div>
</form>
</div>
