<div ng-controller="questionsController">

  <ion-view view-title="{{datatype}}">

    <div style="width: 100%" class="centervertically" ng-controller="blodsampleController">

      <ionic-timepicker input-obj="questionState.timePickerObject">
        <button class="button button-block button-stable overflowShow">
          <strong>{{questionState.timePickerObject.displayValue()}}</strong>
        </button>
      </ionic-timepicker>

      <ionic-datepicker input-obj="questionState.datepickerObject">
        <button class="button button-block button-stable">
          <strong>{{questionState.datepickerObject.inputDate | date:'d. MMMM, yyyy'}}</strong>
        </button>
      </ionic-datepicker>

    </div>

  </ion-view>

</div>
