/* Empty. Add your own CSS if you like */

.frontpagecontainer {
  /*
  display: flex;
  flex-direction: column;
  align-items: stretch;
  */
}

.wrapp {
  width: 300px;
  height: 100%;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.scroll-content > .scroll {
  height: 100%;
}

flex-calendar {

}

.bar {
  background-size: 100% 0px;
}

.thick-footer {
  width: 100%;
  height: 15%;
  min-height: 100px !important;
}

.toogle-footer {
  width: 100%;
  height: 75px!important;
}

.calendar-date {
  font-size: 3em;
  padding-bottom: 20px;
}

.calendar-month {
  color: #afb8bc
}

.dataseriesflexparent {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.dataseriesflexchild {
  flex:1 auto;
}

.mucositis-button {
  line-height: 1.5em;
  min-height: 9.0em;
}

.flacc-button {
  padding: 0;
  margin: 0;
  line-height: 1.5em;
  min-height: 4.0em;
}


@media (max-width: 767px) { /* responsive-md */

  .flacc-button {
    min-height: 3.0em;
  }
  .mucositis-button {
    min-height: 3.0em;
  }
  .col, .button.button-block {
    margin: 0px 0px !important;
  }
  .smallScreentoprow {
    visibility: visible;
    /*flex: 1 0;*/
  }
  .bigScreentoprow {
    max-height: 0px;
    visibility: hidden;
  }
}

/*
.frontpagerow {
  /!*min-height: 150px;*!/
  flex: 1 0;
}
*/

@media (min-width: 768px) {
  .smallScreentoprow {
    max-height: 0px;
    visibility: hidden;
  }
  .bigScreen {
    visibility: visible;
    /*flex: 5 0;*/
  }

  .frontpagecomponent {
    min-height: 200px;
  }

  .frontpagetopcomponent {
    min-height: 365px;
  }

  .flacc-button {
    min-height: 5.0em;
  }
}

.centervertically {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute !important;
  margin:0 auto;
}

.centerhorizontal {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.centerhorizontalpain {
  margin: auto;
  width: 80%;
}

.flex-calendar .days .day {
  min-height: 40px !important;
  line-height: 40px !important;
}

.image{float:none; background-size:contain; background-repeat:no-repeat; background-position:left;}

.responsive{height: 163px; width:213px; box-shadow: 0 0 0 5px white inset;}
