/* Empty. Add your own CSS if you like */

.frontpagecontainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.frontpagecomponent {
    height: 75vh;
    flex: 1 0;
}

.wrapp {
  width: 300px;
  height: 100%;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

flex-calendar {

}
